body {
    padding-right: 30px;
    padding-left: 30px;
}
h2, h4 {
    text-align: center;
}
.intro-details {
    font-family: 'Roboto Mono', monospace;
    margin-top: 100px;
    margin-bottom: -90px;
}
.typewrite{
    text-decoration: none;
    color: black;
}
.filler {
    font-size: 20pt;
}
.navigation {
    font-family: 'Abel', sans-serif;
    text-align: right;
    float: right;
    margin-top: 20px;
    margin-right: 15px;
    font-size: 15pt;
    word-spacing: 15px;
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 3s both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 3s both;
}
#about-me {
    text-decoration: none;
    color: black;
}
.designs-link {
    text-decoration: none;
    color: black;
}
.grid-container {
    background-color: #F2C879;
    padding: 30px;
    padding-bottom: 130px;
}
.design-projects {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 21pt;
    margin-top: 70px;
}
.case-link {
    text-decoration: none;
    color: #D98179;
}
.under-one {
    position: absolute;
    margin: 60px;
    z-index: 1;
    box-shadow: 5px 5px 5px #E3E3E3;
  }
.over-one {
    position: absolute;
    margin: 60px;
    margin-top: 260px;
    margin-left: 200px;
    z-index: 1;
    box-shadow: 5px 5px 5px #E3E3E3;
  }
.AMC-title {
    text-align: right;
    font-family: 'Abel', sans-serif;
    font-size: 23pt;
    padding: 50px;
    padding-top: 120px;
}
#AMC-body {
    text-align: right;
    font-family: 'Abel', sans-serif;
    font-size: 16pt;
    word-wrap: break-word;
    padding: 50px;
    margin-top: -90px;
}
#AMC-body-text {
    text-align: right;
    font-family: 'Abel', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    padding: 50px;
    margin-top: -70px
}
.case-study {
    text-align: right;
    font-family: 'Abel', sans-serif;
    font-size: 20pt;
    color: #D98179;
    padding: 50px;
    margin-top: -80px;
}
#icon-arrow-right {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}
.grid-container-blue {
    background-color: #D3EBF0; 
    margin-top: 150px;
    padding: 30px;
    padding-bottom: 25px;
}
.under-two {
    position: absolute;
    margin: 40px;
    margin-top: 100px;
    margin-left: 1130px;
    margin-bottom: 25px;
    z-index: 1;
    box-shadow: 5px 5px 13px #B2B2B2;
}
.over-two {
    position: absolute;
    margin: 40px;
    margin-left: 1000px;
    z-index: 1;
    box-shadow: 5px 5px 13px #B2B2B2;
}
.wanderers-title {
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 23pt;
    padding: 50px;
    padding-top: 120px;
}
#wanderers-body {
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 16pt;
    word-wrap: break-word;
    padding: 50px;
    margin-top: -90px;
}
#wanderers-body-text {
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    padding: 50px;
    margin-top: -70px
}
.case-study-left {
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 20pt;
    color: #D98179;
    padding: 17px;
    margin-left: -20px;
}
#icon-arrow-left {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin-right: 15px;
    transform: rotate(180deg);
}
.under-three {
    position: absolute;
    margin: 60px;
    margin-top: 60px;
    z-index: 1;
    box-shadow: 5px 5px 5px #E3E3E3;
  }
.over-three {
    position: absolute;
    margin: 60px;
    margin-top: 250px;
    margin-left: 200px;
    z-index: 1;
    box-shadow: 5px 5px 5px #E3E3E3;
  }
.gov-title {
    text-align: right;
    font-family: 'Abel', sans-serif;
    font-size: 23pt;
    padding: 50px;
    padding-top: 120px;
    margin-top: 100px;
}
#gov-body {
    text-align: right;
    font-family: 'Abel', sans-serif;
    font-size: 16pt;
    word-wrap: break-word;
    padding: 50px;
    margin-top: -90px;
}
#gov-body-text {
    text-align: right;
    font-family: 'Abel', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    padding: 50px;
    margin-top: -70px
}
.grid-container-green {
    background-color: #6FBFB1;
    font-family: 'Roboto Mono', monospace;
    color: white;
    border: none;
    text-decoration: none;
    margin-top: 250px;
    padding: 7px 22px;
    margin-right: 500px;
    margin-left: 500px;
    border-radius: 30px;
}
.design-link {
    text-decoration: none;
    color: white;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-8-17 18:26:23
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
@media only screen and (min-width:360px) and(max-width:640px){}
@media only screen and (min-width:375px) and(max-width:667px){}
@media only screen and (min-width:720px) and (max-width:1280px){}
@media only screen and (min-width:1366px) and (max-width:768px){}
@media only screen and (min-width:1440px) and (max-width:900px){}
@media only screen and (min-width:1920px) and (max-width:1080px){}