body {
    padding-right: 30px;
    padding-left: 30px;
}
h2, h4 {
    text-align: center;
}
.intro-details {
    font-family: 'Roboto Mono', monospace;
    margin-top: 100px;
    margin-bottom: -90px;
}
.navigation {
    font-family: 'Abel', sans-serif;
    text-align: right;
    float: right;
    margin-top: 20px;
    margin-right: 15px;
    font-size: 15pt;
    word-spacing: 15px;
}
.grid-container {
    background-color: #F2C879;
    padding: 30px;
    padding-bottom: 130px;
}
.design-projects {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 21pt;
    margin-top: 70px;
}
.under-one {
    position: absolute;
    margin: 60px;
    z-index: 1;
    box-shadow: 5px 5px 5px #E3E3E3;
  }
.over-one {
    position: absolute;
    margin: 60px;
    margin-top: 260px;
    margin-left: 200px;
    z-index: 1;
    box-shadow: 5px 5px 5px #E3E3E3;
  }
.AMC-title {
    text-align: right;
    font-family: 'Abel', sans-serif;
    font-size: 23pt;
    padding: 50px;
    padding-top: 120px;
}
#AMC-body {
    text-align: right;
    font-family: 'Abel', sans-serif;
    font-size: 16pt;
    word-wrap: break-word;
    padding: 50px;
    margin-top: -90px;
}
#AMC-body-text {
    text-align: right;
    font-family: 'Libre Baskerville', serif;
    font-size: 12pt;
    padding: 50px;
    margin-top: -70px
}
.case-study {
    text-align: right;
    font-family: 'Abel', sans-serif;
    font-size: 20pt;
    color: #D98179;
    padding: 50px;
    margin-top: -80px;
}
#icon-arrow-right {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}
.grid-container-blue {
    background-color: #D3EBF0; 
    margin-top: 150px;
    padding: 30px;
    padding-bottom: 25px;
}
.under-two {
    position: absolute;
    margin: 40px;
    margin-top: 100px;
    margin-left: 1130px;
    margin-bottom: 25px;
    z-index: 1;
    box-shadow: 5px 5px 13px #B2B2B2;
}
.over-two {
    position: absolute;
    margin: 40px;
    margin-left: 1000px;
    z-index: 1;
    box-shadow: 5px 5px 13px #B2B2B2;
}
.wanderers-title {
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 23pt;
    padding: 50px;
    padding-top: 120px;
}
#wanderers-body {
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 16pt;
    word-wrap: break-word;
    padding: 50px;
    margin-top: -90px;
}
#wanderers-body-text {
    text-align: left;
    font-family: 'Libre Baskerville', serif;
    font-size: 12pt;
    padding: 50px;
    margin-top: -70px
}
.case-study-left {
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 20pt;
    color: #D98179;
    padding: 17px;
    margin-left: -20px;
}
#icon-arrow-left {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    margin-right: 12px;
    transform: rotate(180deg);
}
.under-three {
    position: absolute;
    margin: 60px;
    margin-top: 60px;
    z-index: 1;
    box-shadow: 5px 5px 5px #E3E3E3;
  }
.over-three {
    position: absolute;
    margin: 60px;
    margin-top: 250px;
    margin-left: 200px;
    z-index: 1;
    box-shadow: 5px 5px 5px #E3E3E3;
  }
.gov-title {
    text-align: right;
    font-family: 'Abel', sans-serif;
    font-size: 23pt;
    padding: 50px;
    padding-top: 120px;
    margin-top: 100px;
}
#gov-body {
    text-align: right;
    font-family: 'Abel', sans-serif;
    font-size: 16pt;
    word-wrap: break-word;
    padding: 50px;
    margin-top: -90px;
}
#gov-body-text {
    text-align: right;
    font-family: 'Libre Baskerville', serif;
    font-size: 12pt;
    padding: 50px;
    margin-top: -70px
}
.grid-container-resume {
    background-color: #6FBFB1;
    color: white;
    padding-bottom: 100px;
    margin-top: 300px;
}
h3 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 23pt;
    padding: 60px;
    margin-bottom: -100px;
}
@media only screen and (min-width:360px) and(max-width:640px){}
@media only screen and (min-width:375px) and(max-width:667px){}
@media only screen and (min-width:720px) and (max-width:1280px){}
@media only screen and (min-width:1366px) and (max-width:768px){}
@media only screen and (min-width:1440px) and (max-width:900px){}
@media only screen and (min-width:1920px) and (max-width:1080px){}